tr {
  height: 60px;
  align-items: center;
  justify-self: center;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #e0def1;
}
tr:nth-child(odd) {
  background-color: white;
}

.table-header {
  background-color: #e0def1 !important;
}

.studentPoint {
  position: relative;
  margin: 0 6vw;
}
.studentPoint h2 {
  /* font-size: 40px; */
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  tr{
    font-size: 12px;
  }
  .dropdown-table{
    font-size: 10px !important;
  }
  
}