.navbar-el{
    display: flex;
    justify-content: flex-end;
    position:relative;
    flex-wrap: wrap;
    right: 1%;
    top: 2vh;
    height: 10vh;
}
.logout li{
    background-color: #727dbd;
    border-radius: 5px;
    color: white;
}
.logout li:hover{
    background-color: #727dbd !important;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar-el a{
    text-decoration: none;
    color: black;
}

.navbar-el li{
    padding: 10px;
    list-style: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
}

.navbar-el li:hover{
    background-color: #6E78C0;
    border-radius: 5px;
    color: white;
}

.navbar-el li:hover a{
    color: white;
}
.navbar-list{
    visibility: visible;
}

@media screen and (max-width:850px){
    .navbar-el ul{
        background-color: #ffffff;
        text-align: center;
        display: flex;
        height: 70vh;
        z-index: 2;
        justify-content: space-around;
        /* align-items: flex-start; */
        flex-direction: column;
        position: absolute;
        width: 100vw;
        padding-top: 5vh;
        top: -3vh;
        right: 0;
        border-radius: 10px;
    }
    .navbar-el ul li{
        /* border: black dashed 0.1px; */
    }

    .hamburger{
        position: absolute;
        z-index: 3;
        right: 10px;
        top: 10px;
        width: 35px;
        height: 100px;
    }
    .hamburger div{
        margin: 4px;
        background-color: black;
        height: 5px;
        width: 100%;
    }
}

@media screen and (max-width : 1000px) {
    .navbar-el a li{
        font-size: 15px;
    }
    
}

